@{
    ViewData["Title"] = "Contact Page";
}



@section css {
    <link rel="stylesheet" href="~/assets/css/contact/contact.css">
}


<main>
    <!-- Page Header Start -->
    @await Component.InvokeAsync("ContactBanner")
    <!-- Page Header End -->
    <!-- Scrolling Ticker Section Start -->
    @await Component.InvokeAsync("Scrolling")
    <!-- Scrolling Ticker Section End -->
    <!-- Page Contact Us Start -->
    @await Component.InvokeAsync("Contact")
    <!-- Page Contact Us End -->
    <!-- Newsletter Subscribe Section Start -->
    @await Component.InvokeAsync("Subscribe")
    <!-- Newsletter Subscribe Section End -->
    <!-- Google Map Section Start -->
    @await Component.InvokeAsync("GoogleMap")
    <!-- Google Map Section End -->
</main>




@section scripts {
    <script src="~/assets/js/contact/contact.js"></script>
}
