<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link href="~/assets/css/dasboard/dasboard.css" rel="stylesheet" />
</head>
<body>
    <div class="" id="home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-xl navbar-light bg-light">
                        <a class="navbar-brand d-flex align-items-center" href="#">
                            <i class="fas fa-mug-hot mr-2"></i>
                            <h1 class="tm-site-title mb-0">Dashboard</h1>
                        </a>
                        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div style="color: #4a1f15;" class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item"style="margin-right:5pc;">
                                    <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Caffe Luna<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="homeDropdown" role="button"
                                       onclick="toggleDropdown('homeDropdown', event)">Home</a>
                                    <div style="color: #4a1f15;" class="dropdown-menu" aria-labelledby="reportsDropdown">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Slider" asp-action="Index">Sliders</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Scrolling" asp-action="Index">Scrollings</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Catalog" asp-action="Index">Catalogs</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Service" asp-action="Index">Service</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="ServiceItem" asp-action="Index">ServiceItem</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Topbar" asp-action="Index">Topbar</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="AboutRestaurant" asp-action="Index">About Restaurant</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Setting" asp-action="Index">Setting</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="AboutUs" asp-action="Index">AboutUs</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="AboutUsItem" asp-action="Index">AboutUsItem</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="OpeningHour" asp-action="Index">OpeningHour</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="OurOffer" asp-action="Index">OurOffer</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="OfferItem" asp-action="Index">OfferItem</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="OfferImage" asp-action="Index">OfferImage</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button"
                                       onclick="toggleDropdown('productsDropdown', event)">About</a>
                                    <div style="color: #4a1f15;" class="dropdown-menu" aria-labelledby="productsDropdown">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="AboutBanner" asp-action="Index">About Banner</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Approach" asp-action="Index">Approach</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="ApproachItem" asp-action="Index">Approach Item</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="OurStory" asp-action="Index">OurStory</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="StoryItem" asp-action="Index">StoryItem</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="IntroVideo" asp-action="Index">IntroVideo</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="IntroCounter" asp-action="Index">IntroCounter</a>
                                
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="accountsDropdown" role="button"
                                       onclick="toggleDropdown('accountsDropdown', event)">Blog</a>
                                    
                                    <div style="color: #4a1f15;" class="dropdown-menu" aria-labelledby="accountsDropdown">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="BlogBanner" asp-action="Index">Blog Banner</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="BlogDetailBanner" asp-action="Index">Blog Detail Banner</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Blog" asp-action="Index">Blog</a>
                                     
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="analyticsDropdown" role="button"
                                       onclick="toggleDropdown('analyticsDropdown', event)">Menu </a>
                                    <div style="color: #4a1f15;" class="dropdown-menu" aria-labelledby="analyticsDropdown">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="MenuBanner" asp-action="Index">Menu Banner</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="CategoryType" asp-action="Index">CategoryType</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Size" asp-action="Index">Size</a>
                                  
                                    </div>
                                </li>

                            
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="ordersDropdown" role="button"
                                       onclick="toggleDropdown('ordersDropdown', event)">Team </a>
                                    <div style="color: #4a1f15;" class="dropdown-menu" aria-labelledby="ordersDropdown">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="TeamBanner" asp-action="Index">Team Banner</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="TeamMember" asp-action="Index">Team Member</a>
                                 
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="customersDropdown" role="button"
                                       onclick="toggleDropdown('customersDropdown', event)">Faqs </a>
                                    <div style="color: #4a1f15;" class="dropdown-menu" aria-labelledby="customersDropdown">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="FaqsBanner" asp-action="Index">Faqs Banner</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="FaqCategory" asp-action="Index">FaqCategory</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="FaqItem" asp-action="Index">FaqItem</a>
                                     
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="marketingDropdown" role="button"
                                       onclick="toggleDropdown('marketingDropdown', event)">Contact </a>
                                    <div style="color: #4a1f15;" class="dropdown-menu" aria-labelledby="marketingDropdown">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="ContactBanner" asp-action="Index">Contact Banner</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="ContactUs" asp-action="Index">ContactUs</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="ContactMessage" asp-action="Index">ContactMessage</a>

                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="settingsDropdown" role="button"
                                       onclick="toggleDropdown('settingsDropdown', event)">Reservation </a>
                                    <div style="color: #4a1f15;" class="dropdown-menu" aria-labelledby="settingsDropdown">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="ReservationBanner" asp-action="Index">Reservation Banner</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Table" asp-action="Index">Tables</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Reservation" asp-action="Index">Reservations</a>
                                     
                                    </div>
                                </li>
                            </ul>
                           
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()

    <script>
        function toggleDropdown(dropdownId) {
            event.preventDefault();

            closeAllDropdowns();

            const dropdown = document.getElementById(dropdownId);
            const dropdownMenu = dropdown.nextElementSibling;

            if (dropdownMenu.classList.contains('show')) {
                dropdownMenu.classList.remove('show');
                dropdown.setAttribute('aria-expanded', 'false');
            } else {
                dropdownMenu.classList.add('show');
                dropdown.setAttribute('aria-expanded', 'true');
            }
        }

        function closeAllDropdowns() {
            const dropdowns = document.querySelectorAll('.dropdown-menu');
            const toggles = document.querySelectorAll('.dropdown-toggle');

            dropdowns.forEach(dropdown => {
                dropdown.classList.remove('show');
            });

            toggles.forEach(toggle => {
                toggle.setAttribute('aria-expanded', 'false');
            });
        }

    
        document.addEventListener('click', function(event) {
            if (!event.target.closest('.dropdown')) {
                closeAllDropdowns();
            }
        });

        function toggleNavbar() {
            const navbar = document.getElementById('navbarSupportedContent');
            navbar.classList.toggle('show');
        }

        
        document.querySelector('.navbar-toggler').addEventListener('click', toggleNavbar);


        document.addEventListener('keydown', function(event) {
            if (event.key === 'Escape') {
                closeAllDropdowns();
            }
        });
                function toggleDropdown(dropdownId, event) {
            event.preventDefault();
            event.stopPropagation(); 

            const dropdownToggle = document.getElementById(dropdownId);
            const dropdownMenu = dropdownToggle.nextElementSibling;

            const isOpen = dropdownMenu.classList.contains('show');

            closeAllDropdowns(); 

            if (!isOpen) {
                dropdownMenu.classList.add('show');
                dropdownToggle.setAttribute('aria-expanded', 'true');
            }
        }

    </script>

    <script src="https://kit.fontawesome.com/897e067933.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

