<section id="team">
    <div class="our-team">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3 class="wow fadeInUp">our team</h3>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">
                            Experts brewing excellence every day
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="team-item wow fadeInUp">
                        <div style="opacity: 0.5 !important;" class="team-image">
                            <figure class="image-anime">
                                <img src="~/assets/images/common/adam.jpg" alt="">
                            </figure>
                        </div>
                        <div class="team-body">
                            <div class="team-social-icon" style="font-weight: 300; display: block;transition: all 0.5s ease;">
                                <p>
                                    Master of sweet creations and delicate flavors.Passionate about creating rich and
                                    flavorful espresso.Skilled in latte art and coffee presentation.Dedicated to
                                    delivering exceptional coffee experiences.A true coffee enthusiast with a keen
                                    attention to detail.
                                </p>
                            </div>
                            <div class="team-content">
                                <h3><a href="team.html">thomas campbell</a></h3>
                                <p style="color: #C9A581;">dessert maste</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-image" style="opacity: 0.5 !important; transition: all 0.5s ease;">
                            <figure class="image-anime">
                                <img src="~/assets/images/common/adam2.jpg" alt="">
                            </figure>
                        </div>
                        <div class="team-body">
                            <div style="font-weight: 300; display: block;" class="team-social-icon">
                                <p>
                                    Expert in brewing the perfect cup of coffee. Passionate about creating rich and
                                    flavorful espresso.Skilled in latte art and coffee presentation.Dedicated to
                                    delivering exceptional coffee experiences.A true coffee enthusiast with a keen
                                    attention to detail.
                                </p>
                            </div>
                            <div class="team-content">
                                <h3><a href="team.html">liam carter</a></h3>
                                <p style="color: #C9A581;">Drink Master </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="team-image" style="opacity: 0.5 !important;transition: all 0.5s ease;">
                            <figure class="image-anime">
                                <img src="~/assets/images/common/adam3.jpg" alt="">
                            </figure>
                        </div>
                        <div class="team-body">
                            <div style="font-weight: 300; display: block;" style="color: white"
                                 class="team-social-icon">
                                <p>
                                    Master of flavors and culinary artistry.Creatingunforgettable dishes with passion
                                    and precision.Bringing the heart of the kitchen to every plate.A true culinary
                                    artist dedicated to perfection.
                                </p>
                            </div>
                            <div class="team-content">
                                <h3><a href="team.html">sophia green</a></h3>
                                <p style="color: #C9A581;">Executive Chef</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>