@{
    ViewData["Title"] = "Blog Page";
}



@section css {
    <link rel="stylesheet" href="~/assets/css/blog/blog.css">
}
<main>
    <!-- Page Header Start -->
    @await Component.InvokeAsync("BlogBanner")
    <!-- Page Header End -->
    <!-- Scrolling Ticker Section Start -->
    @await Component.InvokeAsync("Scrolling")
    <!-- Scrolling Ticker Section End -->
    <!-- Blog Section Start -->
    @await Component.InvokeAsync("BlogStory")
    <!-- Blog Section End -->
</main>


@section scripts {
    <script src="~/assets/js/blog/blog.js"></script>
}