@{
    ViewData["Title"] = "About Page";
}

@section css {
    <link rel="stylesheet" href="~/assets/css/about/about.css">
}
 <main>
<!-- Page Header Start -->
    @await Component.InvokeAsync("Banner")
<!-- Page Header End -->
<!-- Scrolling Ticker Section Start -->
    @await Component.InvokeAsync("Scrolling")
<!-- Scrolling Ticker Section End -->
<!-- About us Section Start -->
    @await Component.InvokeAsync("About")
<!-- About us Section End -->
<!-- Why Choose Us Section Start -->
    @await Component.InvokeAsync("Why")
<!-- Why Choose Us Section End -->
<!-- Our Approach Section Start -->
    @await Component.InvokeAsync("Approach")
<!-- Our Approach Section End -->
<!-- Intro Video Section Start -->
    @await Component.InvokeAsync("Intro")
<!-- Intro Video Section End -->
<!-- Our Team Section Start -->
    @await Component.InvokeAsync("Team")
<!-- Our Team Section End -->
<!-- Our Story Section Start -->
    @await Component.InvokeAsync("Story")
<!-- Our Story Section End -->
<!-- About Restaurant Section Start -->
    @await Component.InvokeAsync("Restaurant")
<!-- About Restaurant Section End -->
 </main>
@section scripts {
    <script src="~/assets/js/about/about.js"></script>
}