@{
    ViewData["Title"] = "About Page";
}

@section css {
    <link rel="stylesheet" href="~/assets/css/about/about.css">
}
 <main>
<!-- Page Header Start -->
<section id="about-start">
    <div class="page-header parallaxie" style="background-image: url('./assets/images/common/hero-bg.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-header-box">
                        <h1 class="text-anime-style-3" data-cursor="-opaque">About</h1>
                        <nav class="wow fadeInUp">
                            <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">about us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Header End -->
<!-- Scrolling Ticker Section Start -->
<section id="scrolling">
    <div class="our-scrolling-ticker">
        <div class="scrolling-ticker-box">
            <div class="scrolling-content">
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Espresso</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Americano</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Latte</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Cappuccino</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Mocha</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Macchiato</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Cold Brew</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Espresso</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Americano</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Latte</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Cappuccino</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Mocha</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Macchiato</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Cold Brew</span>
            </div>

            <div class="scrolling-content">
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Espresso</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Americano</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Latte</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Cappuccino</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Mocha</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Macchiato</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Cold Brew</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Espresso</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Americano</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Latte</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Cappuccino</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Mocha</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Macchiato</span>
                <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Cold Brew</span>
            </div>
        </div>

    </div>
</section>
<!-- Scrolling Ticker Section End -->
<!-- About us Section Start -->
<section id="about-section">
    <div class="about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-us-content">
                        <div class="section-title">
                            <h3 class="wow fadeInUp">About us</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">
                                Bringing people together, one
                                cup at a time
                            </h2>
                        </div>

                        <div class="about-body-list">
                            <div class="about-body-item wow fadeInUp" data-wow-delay="0.2s">
                                <div class="icon-box">
                                    <img src="~/assets/images/home/icon-about-body-item-1.svg" alt="">
                                </div>
                                <div class="about-body-list-content">
                                    <h3>Cozy Atmosphere</h3>
                                    <p>
                                        Step into a warm and inviting space where you can enjoy your favorite
                                        coffee and delicious treats in comfort. Caffe Lunadi is your go-to spot
                                        to unwind, meet friends, or get inspired
                                    </p>
                                </div>
                            </div>

                            <div class="about-body-item wow fadeInUp" data-wow-delay="0.4s">
                                <div class="icon-box">
                                    <img src="~/assets/images/home/icon-about-body-item-2.svg" alt="">
                                </div>
                                <div class="about-body-list-content">
                                    <h3>Event Elegance</h3>
                                    <p>
                                        Celebrate your special moments with us!
                                        From cozy gatherings to vibrant celebrations, we provide the perfect
                                        setting and flavors to make your event unforgettable
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="about-us-footer wow fadeInUp" data-wow-delay="0.6s">
                            <div class="about-btn">
                                <a style="box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.8);" href="about.html"
                                   class="btn-default">More about us</a>
                            </div>

                            <div class="video-play-button">
                                <a href="assets/videos/WhatsApp Video 2025-05-20 at 06.56.31.mp4"
                                   class="popup-video">
                                    <i class="fa-solid fa-play"></i>
                                </a>

                            </div>
                            <p>
                                Want to see what makes us special?
                                Watch our video and experience the spirit of Caffe Luna.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="about-us-image">
                        <div style="opacity: 0.5 !important;" class="about-us-img">
                            <figure class="image-anime">
                                <img src="~/assets/images/home/customer2.jpg" alt="">
                            </figure>
                        </div>

                        <div class="opening-time-box">
                            <div class="icon-box">
                                <i class="fa-regular fa-clock"></i>
                            </div>

                            <div class="opening-time-content">
                                <h3>Open hours</h3>
                                <ul>
                                    <li>Monday - Friday<span>09:00 - 10:00</span></li>
                                    <li>The Weekend<span>09:00 - 11:30</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About us Section End -->
<!-- Why Choose Us Section Start -->
<section id="why-section">
    <div class="why-choose-us light-bg-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="why-choose-content">
                        <div class="section-title">
                            <h3 class="wow fadeInUp">Why choose us</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">
                                Where flavor meets comfort and
                                services
                            </h2>
                        </div>
                        <div class="why-choose-btn wow fadeInUp" data-wow-delay="0.2s">
                            <a style="box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.8);" href="contact.html"
                               class="btn-default">Contact us</a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="why-choose-list wow fadeInUp" data-wow-delay="0.2s">
                        <div class="why-choose-item">
                            <div class="icon-box">
                                <img src="~/assets/images/home/icon-about-body-item-2.svg" alt="">
                            </div>
                            <div class="why-choose-item-content">
                                <h3>Aromatic Mornings</h3>
                                <p>
                                    Start your day with flavor
                                    Wake up to the rich aroma of freshly brewed coffee. Your perfect morning
                                    begins right here with us.
                                </p>
                            </div>
                        </div>
                        <div class="why-choose-item">
                            <div class="icon-box">
                                <img src="~/assets/images/home/why 2.svg" alt="">
                            </div>
                            <div class="why-choose-item-content">
                                <h3>Fresh Ingredients</h3>
                                <p>
                                    Our coffees and desserts are made daily with fresh and natural ingredients.
                                    Taste it once — you’ll feel the difference!
                                </p>
                            </div>
                        </div>
                        <div class="why-choose-item">
                            <div class="icon-box">
                                <img src="~/assets/images/home/why 3.svg" alt="">
                            </div>
                            <div class="why-choose-item-content">
                                <h3>Exclusive Chefs</h3>
                                <p>
                                    Our skilled baristas and chefs turn every cup and bite into a true
                                    masterpiece. Quality you can taste in every sip.
                                </p>
                            </div>
                        </div>
                        <div class="why-choose-item">
                            <div class="icon-box">
                                <img src="~/assets/images/home/why 4.svg" alt="">
                            </div>
                            <div class="why-choose-item-content">
                                <h3>Fast Service</h3>
                                <p>
                                    No more waiting! We serve your orders quickly while maintaining top-notch
                                    quality and care.

                                </p>
                            </div>
                        </div>
                        <div class="why-choose-item">
                            <div class="icon-box">
                                <img src="~/assets/images/home/why 5.svg" alt="">
                            </div>
                            <div class="why-choose-item-content">
                                <h3>Friendly Atmosphere</h3>
                                <p>
                                    Our cozy environment is perfect for hanging out with friends, reading a book,
                                    or simply relaxing with a warm cup of coffee.
                                </p>
                            </div>
                        </div>

                        <div class="why-choose-item">
                            <div class="icon-box">
                                <img src="~/assets/images/home/why 6.svg" alt="">
                            </div>
                            <div class="why-choose-item-content">
                                <h3>Free Wi-Fi</h3>
                                <p>
                                    Stay connected anytime! Whether you’re working, studying, or just browsing,
                                    enjoy our free and fast Wi-Fi service.

                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Choose Us Section End -->
<!-- Our Approach Section Start -->
<section id="our-approach">
    <div class="our-approach">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="our-approach-content">
                        <div class="section-title">
                            <h3 class="wow fadeInUp">our approach</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">
                                Crafting the perfect coffee
                                experience
                            </h2>
                        </div>
                        <div class="mission-vision-list">
                            <div class="mission-vision-item wow fadeInUp" data-wow-delay="0.2s">
                                <div class="icon-box">
                                    <img src="~/assets/images/common/qr.svg" alt="">
                                </div>
                                <div class="mission-vision-content">
                                    <h3>our mission</h3>
                                    <p>
                                        Our mission is to deliver exceptional coffee crafted with the finest beans
                                        care, providing a rich experience that celebrates quality.
                                    </p>
                                </div>
                            </div>

                            <div class="mission-vision-item wow fadeInUp" data-wow-delay="0.4s">
                                <div class="icon-box">
                                    <img src="~/assets/images/common/qqqq.svg" alt="">
                                </div>
                                <div class="mission-vision-content">
                                    <h3>our vision</h3>
                                    <p>
                                        Our vision is to inspire a love for coffee by crafting rich, high-quality
                                        experiences that bring people together.
                                    </p>
                                </div>
                            </div>

                            <div class="mission-vision-item wow fadeInUp" data-wow-delay="0.6s">
                                <div class="icon-box">
                                    <img src="~/assets/images/common/sasa.svg" alt="">
                                </div>
                                <div class="mission-vision-content">
                                    <h3>our value</h3>
                                    <p>
                                        Our values are inspired by the rich coffee traditions of Italy, using its
                                        most renowned beans to craft every cup with quality, and ethical care.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div style="opacity: 0.5 !important;" class="our-approach-image">
                        <figure class="image-anime">
                            <img src="~/assets/images/common/salamqwertyuiop.jpg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Approach Section End -->
<!-- Intro Video Section Start -->
<section id="intro-video">
    <div class="intro-video parallaxie"
         style="background-image: url('./assets/images/common/backgrounddd.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="intro-video-content">
                        <div class="section-title">
                            <h3 class="wow fadeInUp">Our success story</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">
                                Our coffee world, your favorite
                                place
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-4">
                    <div class="intro-video-box about-intro-video wow fadeInUp" data-wow-delay="0.2s">
                        <div class="video-play-button">
                            <a href="assets/videos/WhatsApp Video 2025-05-21 at 06.26.16.mp4"
                               class="popup-video">
                                <i class="fas fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-video-counters">
                        <div class="video-counter-item">
                            <div class="icon-box">
                                <img src="~/assets/images/common/intro1.svg" alt="">
                            </div>
                            <div class="video-counter-content">
                                <h2><span class="counter">300</span>+</h2>
                                <p>Daily Visitors</p>
                            </div>
                        </div>

                        <div class="video-counter-item">
                            <div class="icon-box">
                                <img src="~/assets/images/common/intro2.svg" alt="">
                            </div>
                            <div class="video-counter-content">
                                <h2><span class="counter">50</span></h2>
                                <p>Delicious Creations</p>
                            </div>
                        </div>

                        <div class="video-counter-item">
                            <div class="icon-box">
                                <img src="~/assets/images/home/why 2.svg" alt="">
                            </div>
                            <div class="video-counter-content">
                                <h2><span class="counter">220</span>+</h2>
                                <p>Memorable Events</p>
                            </div>
                        </div>

                        <div class="video-counter-item">
                            <div class="icon-box">
                                <img src="~/assets/images/common/intro 4.svg" alt="">
                            </div>
                            <div class="video-counter-content">
                                <h2><span class="counter">700</span>+</h2>
                                <p>Happy customer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Intro Video Section End -->
<!-- Our Team Section Start -->
<section id="team">
    <div class="our-team">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3 class="wow fadeInUp">our team</h3>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">
                            Experts brewing excellence every day
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="team-item wow fadeInUp">
                        <div style="opacity: 0.5 !important;" class="team-image">
                            <figure class="image-anime">
                                <img src="~/assets/images/common/adam.jpg" alt="">
                            </figure>
                        </div>
                        <div class="team-body">
                            <div class="team-social-icon" style="font-weight: 300; display: block;transition: all 0.5s ease;">
                                <p>
                                    Master of sweet creations and delicate flavors.Passionate about creating rich and
                                    flavorful espresso.Skilled in latte art and coffee presentation.Dedicated to
                                    delivering exceptional coffee experiences.A true coffee enthusiast with a keen
                                    attention to detail.
                                </p>
                            </div>
                            <div class="team-content">
                                <h3><a href="team.html">thomas campbell</a></h3>
                                <p style="color: #C9A581;">dessert maste</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-image" style="opacity: 0.5 !important; transition: all 0.5s ease;">
                            <figure class="image-anime">
                                <img src="~/assets/images/common/adam2.jpg" alt="">
                            </figure>
                        </div>
                        <div class="team-body">
                            <div style="font-weight: 300; display: block;" class="team-social-icon">
                                <p>
                                    Expert in brewing the perfect cup of coffee. Passionate about creating rich and
                                    flavorful espresso.Skilled in latte art and coffee presentation.Dedicated to
                                    delivering exceptional coffee experiences.A true coffee enthusiast with a keen
                                    attention to detail.
                                </p>
                            </div>
                            <div class="team-content">
                                <h3><a href="team.html">liam carter</a></h3>
                                <p style="color: #C9A581;">Drink Master </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="team-image" style="opacity: 0.5 !important;transition: all 0.5s ease;">
                            <figure class="image-anime">
                                <img src="~/assets/images/common/adam3.jpg" alt="">
                            </figure>
                        </div>
                        <div class="team-body">
                            <div style="font-weight: 300; display: block;" style="color: white"
                                 class="team-social-icon">
                                <p>
                                    Master of flavors and culinary artistry.Creatingunforgettable dishes with passion
                                    and precision.Bringing the heart of the kitchen to every plate.A true culinary
                                    artist dedicated to perfection.
                                </p>
                            </div>
                            <div class="team-content">
                                <h3><a href="team.html">sophia green</a></h3>
                                <p style="color: #C9A581;">Executive Chef</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Our Team Section End -->
<!-- Our Story Section Start -->
<section id="our-story">
    <div class="our-story">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="our-story-image">
                        <figure class="image-anime">
                            <img src="~/assets/images/common/dadaas.jpg" alt="">
                        </figure>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="our-story-content">
                        <div class="section-title">
                            <h3 class="wow fadeInUp">our story</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">
                                How we craft every cup of coffee to
                                perfection
                            </h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">
                                Experience the journey of coffee, from
                                carefully sourced beans to expertly roasted blends, crafted with passion and
                                precision to deliver every perfect sip that awakens your senses.
                            </p>
                        </div>

                        <div class="story-list">
                            <div class="story-item wow fadeInUp" data-wow-delay="0.4s">
                                <div class="icon-box">
                                    <img src="~/assets/images/common/icon-story-1.svg" alt="">
                                </div>
                                <div class="story-item-content">
                                    <h3>organic coffee seed</h3>
                                    <p>
                                        Grown naturally without chemicals, our organic coffee seeds ensure pure and
                                        rich flavors in every cup.
                                    </p>
                                </div>
                            </div>

                            <div class="story-item wow fadeInUp" data-wow-delay="0.6s">
                                <div class="icon-box">
                                    <img src="~/assets/images/common/icon-story-2.svg" alt="">
                                </div>
                                <div class="story-item-content">
                                    <h3>italy modern machine</h3>
                                    <p>
                                        Crafted with precision, our Italy modern machines deliver authentic and
                                        consistent coffee perfection.
                                    </p>
                                </div>
                            </div>

                            <div class="story-item wow fadeInUp" data-wow-delay="0.8s">
                                <div class="icon-box">
                                    <img src="~/assets/images/common/icon-story-3.svg" alt="">
                                </div>
                                <div class="story-item-content">
                                    <h3>best traditional flavors</h3>
                                    <p>
                                        Relish the timeless charm of coffee with our best traditional flavors,
                                        crafted to perfection.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="our-story-btn wow fadeInUp" data-wow-delay="1s">
                            <a style="box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.8);" href="reservation.html" class="btn-default">book a table</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Story Section End -->
<!-- About Restaurant Section Start -->
<section id="about-restaurant">
    <div class="about-restaurant light-bg-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 order-lg-1 order-md-1">
                    <div class="about-restaurant-content">
                        <div class="section-title">
                            <h3 class="wow fadeInUp">About Coffee Luna</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">Our philosophy</h2>
                        </div>
                        <div class="about-restaurant-info">
                            <h3 class="wow fadeInUp" data-wow-delay="0.2s">
                                For us, coffee is not just a drink — it’s an experience where people come
                                together, the soul finds peace, and everyday moments become special.
                            </h3>
                            <p class="wow fadeInUp" data-wow-delay="0.4s">
                                Every cup we serve is filled with love, care, and the rich flavors of the finest
                                coffee beans.
                            </p>
                            <p class="wow fadeInUp" data-wow-delay="0.6s">
                                In our cozy atmosphere, comfort and tranquility blend perfectly, allowing you to
                                savor the taste of life.
                            </p>
                        </div>
                        <div class="about-author-box wow fadeInUp" data-wow-delay="0.8s">
                            <h3>Giorgio Milos – Head Barista</h3>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 order-lg-2 order-md-3">
                    <div style="opacity: 0.5 !important;" class="about-restaurant-image">
                        <figure class="image-anime">
                            <img src="~/assets/images/common/dd.jpg" alt="">
                        </figure>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 order-lg-3 order-md-2">
                    <div class="restaurant-timing-box">
                        <div class="section-title">
                            <h3 class="wow fadeInUp">Time of luxury</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">open hour time</h2>
                        </div>
                        <div class="restaurant-time-body">
                            <h3 class="wow fadeInUp" data-wow-delay="0.2s">
                                Come and experience the classy
                                atmosphere with delicious food and music.
                            </h3>
                            <ul class="wow fadeInUp" data-wow-delay="0.4s">
                                <li>Monday to Friday: 09:00 AM — 10:00 PM</li>
                                <li>Weekend: 09:00 AM — 11:30 PM</li>
                                <li> Happy Hour: 6:00 PM — 8:00 PM</li>
                                <li>Holidays: Closed!</li>
                            </ul>
                            <h3 class="wow fadeInUp" data-wow-delay="0.6s">
                                “ On holidays is a special day, we
                                will open and with special offer, we will announce! “
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Restaurant Section End -->
 </main>
@section scripts {
    <script src="~/assets/js/about/about.js"></script>
}