<section id="interactive-process">
    <div class="interactive interactive-process-layout" style=" margin-top: 91px;">
        <div class="interactive-interactive-process-wrapper interactive-wrapper">
            <div class="interactive-con">
                <div class="interactive-con-inner interactive-grid">
                    <div class="interactive-process-item">
                        <div class="interactive-inner-process activate" data-index="0">
                            <div class="process-content-wap">
                                <div class="process-inner-content-wap">
                                    <p>Open for dining</p>
                                    <h2><a>Full catering</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="interactive-process-item">
                        <div class="interactive-inner-process" data-index="1">
                            <div class="process-content-wap">
                                <div class="process-inner-content-wap">
                                    <p>From small gatherings to big celebrations — we’ve got you covered.</p>
                                    <h2><a>Tea selection</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="interactive-process-item">
                        <div class="interactive-inner-process" data-index="2">
                            <div class="process-content-wap">
                                <div class="process-inner-content-wap">
                                    <p>A delicious break in tranquility.</p>
                                    <h2><a>Private dining</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="interactive-process-item">
                        <div class="interactive-inner-process" data-index="3">
                            <div class="process-content-wap">
                                <div class="process-inner-content-wap">
                                    <p>Come to Dine, Stay for the Vibe</p>
                                    <h2><a>Laguna beach</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="interactive-process-list-image">
                    <div class="interactive-process-image img-0 show"
                         data-bg="assets/images/interactive-process-image-1.jpg"
                         style="background-image: url('assets/images/common/italian\ chefs.jpg');"></div>
                    <div class="interactive-process-image img-1"
                         data-bg="assets/images/interactive-process-image-2.jpg"
                         style="background-image: url('assets/images/common/ff.jpg');"></div>
                    <div class="interactive-process-image img-2"
                         data-bg="assets/images/interactive-process-image-3.jpg"
                         style="background-image: url('assets/images/common/interactive-process-image-3.jpg');">
                    </div>
                    <div class="interactive-process-image img-3"
                         data-bg="assets/images/interactive-process-image-4.jpg"
                         style="background-image: url('assets/images/common/interactive-process-image-4\ \(1\).jpg');">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>