@{
    ViewData["Title"] = "Faqs Page";
}

@section css {
    <link rel="stylesheet" href="~/assets/css/faqs/faqs.css">
}

<main>
    <!-- Page Header Start -->
    @await Component.InvokeAsync("FaqsBanner")
    <!-- Page Header End -->
    <!-- Scrolling Ticker Section Start -->
    @await Component.InvokeAsync("Scrolling")
    <!-- Scrolling Ticker Section End -->
    <!-- Page Faqs Start -->
    @await Component.InvokeAsync("Faqs")
    <!-- Page Faqs End -->

</main>

@section scripts {
    <script src="~/assets/js/faqs/faq.js"></script>
}