@{
    ViewData["Title"] = "Faqs Page";
}

@section css {
    <link rel="stylesheet" href="~/assets/css/faqs/faqs.css">
}

<main>
    <!-- Page Header Start -->
    <section id="page-header">
        <div class="page-header parallaxie" style="background-image: url('./assets/images/common/hero-bg.jpg');">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="page-header-box">
                            <h1 class="text-anime-style-3" data-cursor="-opaque"> Frequently asked question</h1>
                            <nav class="wow fadeInUp">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="./home.html">home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">FAQs</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Header End -->
    <!-- Scrolling Ticker Section Start -->
    <section id="scrolling">
        <div class="our-scrolling-ticker">
            <div class="scrolling-ticker-box">
                <div class="scrolling-content">
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Espresso</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Americano</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Latte</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Cappuccino</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Mocha</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Macchiato</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Cold Brew</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Espresso</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Americano</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Latte</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Cappuccino</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Mocha</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Macchiato</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Cold Brew</span>
                </div>

                <div class="scrolling-content">
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Espresso</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Americano</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Latte</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Cappuccino</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Mocha</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Macchiato</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Cold Brew</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Espresso</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Americano</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Latte</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Cappuccino</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Mocha</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Macchiato</span>
                    <span><img src="~/assets/images/common/asterisk-icon.svg" alt="">Cold Brew</span>
                </div>
            </div>

        </div>
    </section>
    <!-- Scrolling Ticker Section End -->
    <!-- Page Faqs Start -->
    <section id="faqs-section">
        <div class="page-faqs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="page-single-sidebar" style=" margin-top: 7pc;">
                            <div class="page-category-list faqs-category-list wow fadeInUp">
                                <ul>
                                    <li><a href="#coffee_brewing">coffee brewing technique and method</a></li>
                                    <li><a href="#bean_sourcing">bean sourcing and selection</a></li>
                                    <li><a href="#roasting_profiles">roasting profiles and innovations</a></li>
                                    <li><a href="#flavor_pairing">flavor pairing and custom blends</a></li>
                                </ul>
                            </div>

                            <div class="sidebar-cta-box wow fadeInUp" data-wow-delay="0.25s">
                                <div class="sidebar-cta-body">
                                    <h3>Still have question?</h3>
                                    <p>We're ready to help you to answer any questions please <a href="contact.html">contact us</a></p>
                                </div>

                                <div class="sidebar-cta-footer">
                                    <ul>
                                        <li>
                                            <a href="https://wa.me/994513153684" target="_blank">
                                                <img src="~/assets/images/common/icon-phone.svg" alt="" style="color: #121D23;">
                                                +994 51 315 36 84
                                            </a>
                                        </li>
                                        <li><a href="mailto:info@caffeluna.com"><img src="~/assets/images/common/icon-mail.svg" alt="" style="color: #121D23;">info@caffeluna.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="page-faqs-category" style=" margin-top: 6pc;">
                            <div class="faq-accordion page-faq-accordion" id="coffee_brewing">
                                <div class="section-title">
                                    <h2 class="text-anime-style-3" data-cursor="-opaque">Coffee brewing technique and method</h2>
                                </div>
                                <div class="faq-accordion" id="accordion">
                                    <div class="accordion-item wow fadeInUp">
                                        <h2 class="accordion-header" id="heading1">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                                What are the most common coffee brewing methods?
                                            </button>
                                        </h2>
                                        <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordion">
                                            <div class="accordion-body">
                                                <p>The most common methods include drip brewing, pour-over, French press, espresso, and cold brew, each offering unique flavor profiles.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                                        <h2 class="accordion-header" id="heading2">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                                How does water temperature affect coffee brewing?
                                            </button>
                                        </h2>
                                        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordion">
                                            <div class="accordion-body">
                                                <p>The most common methods include drip brewing, pour-over, French press, espresso, and cold brew, each offering unique flavor profiles.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                                        <h2 class="accordion-header" id="heading3">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                                What grind size is best for different brewing methods?
                                            </button>
                                        </h2>
                                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordion">
                                            <div class="accordion-body">
                                                <p>The most common methods include drip brewing, pour-over, French press, espresso, and cold brew, each offering unique flavor profiles.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                                        <h2 class="accordion-header" id="heading4">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                                How important is coffee-to-water ratio in brewing?
                                            </button>
                                        </h2>
                                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordion">
                                            <div class="accordion-body">
                                                <p>The most common methods include drip brewing, pour-over, French press, espresso, and cold brew, each offering unique flavor profiles.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="faq-accordion page-faq-accordion" id="bean_sourcing">
                                <div class="section-title" style=" margin-top: 4pc;">
                                    <h2 class="text-anime-style-3" data-cursor="-opaque">bean sourcing and selection</h2>
                                </div>
                                <div class="faq-accordion" id="accordion1">
                                    <div class="accordion-item wow fadeInUp">
                                        <h2 class="accordion-header" id="heading5">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                                What factors should I consider when sourcing coffee beans?
                                            </button>
                                        </h2>
                                        <div id="collapse5" class="accordion-collapse collapse show" aria-labelledby="heading5" data-bs-parent="#accordion1">
                                            <div class="accordion-body">
                                                <p>Focus on origin, altitude, processing method, and bean variety, as these factors significantly influence flavor and quality.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                                        <h2 class="accordion-header" id="heading6">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                                                What's the difference between Arabica and Robusta beans?
                                            </button>
                                        </h2>
                                        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordion1">
                                            <div class="accordion-body">
                                                <p>Focus on origin, altitude, processing method, and bean variety, as these factors significantly influence flavor and quality.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                                        <h2 class="accordion-header" id="heading7">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                                How can I tell if coffee beans are fresh?
                                            </button>
                                        </h2>
                                        <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordion1">
                                            <div class="accordion-body">
                                                <p>Focus on origin, altitude, processing method, and bean variety, as these factors significantly influence flavor and quality.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                                        <h2 class="accordion-header" id="heading8">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                                Does the origin of coffee beans affect their flavor?
                                            </button>
                                        </h2>
                                        <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordion1">
                                            <div class="accordion-body">
                                                <p>Focus on origin, altitude, processing method, and bean variety, as these factors significantly influence flavor and quality.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="faq-accordion page-faq-accordion" id="roasting_profiles">
                                <div class="section-title" style=" margin-top: 4pc;">
                                    <h2 class="text-anime-style-3" data-cursor="-opaque">roasting profiles and innovations</h2>
                                </div>
                                <div class="faq-accordion" id="accordion2">
                                    <div class="accordion-item wow fadeInUp">
                                        <h2 class="accordion-header" id="heading9">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                                What are the main coffee roasting profiles?
                                            </button>
                                        </h2>
                                        <div id="collapse9" class="accordion-collapse collapse show" aria-labelledby="heading9" data-bs-parent="#accordion2">
                                            <div class="accordion-body">
                                                <p>The three main profiles are light roast (bright and acidic), medium roast (balanced and sweet), and dark roast (bold and smoky).</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                                        <h2 class="accordion-header" id="heading10">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                                How does the roast profile impact coffee flavor?
                                            </button>
                                        </h2>
                                        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10" data-bs-parent="#accordion2">
                                            <div class="accordion-body">
                                                <p>The three main profiles are light roast (bright and acidic), medium roast (balanced and sweet), and dark roast (bold and smoky).</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                                        <h2 class="accordion-header" id="heading11">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
                                                What are some recent innovations in coffee roasting?
                                            </button>
                                        </h2>
                                        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11" data-bs-parent="#accordion2">
                                            <div class="accordion-body">
                                                <p>The three main profiles are light roast (bright and acidic), medium roast (balanced and sweet), and dark roast (bold and smoky).</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                                        <h2 class="accordion-header" id="heading12">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                                How do I know if coffee beans are over-roasted?
                                            </button>
                                        </h2>
                                        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12" data-bs-parent="#accordion2">
                                            <div class="accordion-body">
                                                <p>The three main profiles are light roast (bright and acidic), medium roast (balanced and sweet), and dark roast (bold and smoky).</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
                                        <h2 class="accordion-header" id="heading13">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                                Can I roast coffee beans at home?
                                            </button>
                                        </h2>
                                        <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13" data-bs-parent="#accordion2">
                                            <div class="accordion-body">
                                                <p>The three main profiles are light roast (bright and acidic), medium roast (balanced and sweet), and dark roast (bold and smoky).</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="faq-accordion page-faq-accordion" id="flavor_pairing">
                                <div class="section-title" style=" margin-top: 4pc;">
                                    <h2 class="text-anime-style-3" data-cursor="-opaque">flavor pairing and custom blends</h2>
                                </div>
                                <div class="faq-accordion" id="accordion3">
                                    <div class="accordion-item wow fadeInUp">
                                        <h2 class="accordion-header" id="heading14">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                                What is flavor pairing in coffee?
                                            </button>
                                        </h2>
                                        <div id="collapse14" class="accordion-collapse collapse show" aria-labelledby="heading14" data-bs-parent="#accordion3">
                                            <div class="accordion-body">
                                                <p>Flavor pairing is the art of combining coffee with complementary foods or flavors, like chocolate, fruits, or spices, to enhance the overall taste experience.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                                        <h2 class="accordion-header" id="heading15">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                                                How can I create my own custom coffee blend?
                                            </button>
                                        </h2>
                                        <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15" data-bs-parent="#accordion3">
                                            <div class="accordion-body">
                                                <p>Flavor pairing is the art of combining coffee with complementary foods or flavors, like chocolate, fruits, or spices, to enhance the overall taste experience.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                                        <h2 class="accordion-header" id="heading16">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                                                What flavors pair well with a dark roast coffee?
                                            </button>
                                        </h2>
                                        <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16" data-bs-parent="#accordion3">
                                            <div class="accordion-body">
                                                <p>Flavor pairing is the art of combining coffee with complementary foods or flavors, like chocolate, fruits, or spices, to enhance the overall taste experience.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                                        <h2 class="accordion-header" id="heading17">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse17" aria-expanded="true" aria-controls="collapse17">
                                                Can I blend flavored coffee with regular coffee beans?
                                            </button>
                                        </h2>
                                        <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17" data-bs-parent="#accordion3">
                                            <div class="accordion-body">
                                                <p>Flavor pairing is the art of combining coffee with complementary foods or flavors, like chocolate, fruits, or spices, to enhance the overall taste experience.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
                                        <h2 class="accordion-header" id="heading18">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                                                How do origin flavors affect blending?
                                            </button>
                                        </h2>
                                        <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="heading18" data-bs-parent="#accordion3">
                                            <div class="accordion-body">
                                                <p>Flavor pairing is the art of combining coffee with complementary foods or flavors, like chocolate, fruits, or spices, to enhance the overall taste experience.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <h5 style="color: blanchedalmond;">
                                        There is love, art and knowledge in every cup you drink
                                        We are ready to take you to the world of coffee! Come and taste it!</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Page Faqs End -->

</main>


@section scripts {
    <script src="~/assets/js/faqs/faq.js"></script>
}