@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>401 Unauthorized</title>
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">
   <link href="~/assets/css/401/401.css" rel="stylesheet" />

</head>
<body>

    <div class="cow">
        <div class="head">
            <div class="face"></div>
        </div>
        <div class="leg b l"></div>
        <div class="leg b r"></div>
        <div class="leg f l"></div>
        <div class="leg f r"></div>
        <div class="tail"></div>
    </div>

    <div class="well">
        <a class="home-btn"asp-controller="Home" asp-action="Index">Go Home</a>
    </div>

    <div class="text-box">
        <h1>401</h1>
        <p>Sorry, You don't have access there...</p>
    </div>

</body>
</html>
