<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"Caffè Luna – Un sorso alla luce della luna"</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/home/favicon-32x32.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Forum&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="~/assets/css/common/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="~/assets/css/common/animate.css">
    <link rel="stylesheet" href="~/assets/css/common/mousecursor.css">
    <link rel="stylesheet" href="~/assets/css/common/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/common/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    @RenderSection("css", required: false)
</head>
<body>
    <!-- Esas Header Start -->
    @await Component.InvokeAsync("Header")
    <!-- Esas Header End -->
            @RenderBody()
    <!--  Footer Section Start -->
    @await Component.InvokeAsync("Footer")
    <!--  Footer Section End -->

    <script src="~/assets/js/common/jquery-3.7.1.min.js"></script>
    <script src="~/assets/js/common/validator.min.js"></script>
    <script src="~/assets/js/common/swiper-bundle.min.js"></script>
    <script src="~/assets/js/common/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/common/jquery.counterup.min.js"></script>
    <script src="~/assets/js/common/isotope.min.js"></script>
    <script src="~/assets/js/common/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/common/parallaxie.js"></script>
    <script src="~/assets/js/common/gsap.min.js"></script>
    <script src="~/assets/js/common/magiccursor.js"></script>
    <script src="~/assets/js/common/SplitText.js"></script>
    <script src="~/assets/js/common/ScrollTrigger.min.js"></script>
    <script src="~/assets/js/common/jquery.mb.YTPlayer.min.js"></script>
    <script src="~/assets/js/common/wow.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
  


    @RenderSection("Scripts", required: false)
    
</body>
</html>



