<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"Caffè Luna – Un sorso alla luce della luna"</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/home/favicon-32x32.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Forum&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="~/assets/css/common/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="~/assets/css/common/slicknav.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/common/animate.css">
    <link rel="stylesheet" href="~/assets/css/common/mousecursor.css">
    <link rel="stylesheet" href="~/assets/css/common/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/common/swiper-bundle.min.css">
    <!-- FontAwesome CDN (gərəkli versiya!) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <!-- Bunu <head> daxilinə əlavə et -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    @RenderSection("css", required: false)
</head>
<body>
    <!-- Esas Header Start -->
    @await Component.InvokeAsync("Header")
    <!-- Esas Header End -->
            @RenderBody()
    <!--  Footer Section Start -->
    @await Component.InvokeAsync("Footer")
    <!--  Footer Section End -->

    <script src="~/assets/js/common/jquery-3.7.1.min.js"></script>
    <script src="~/assets/js/common/validator.min.js"></script>
    <script src="~/assets/js/common/jquery.slicknav.js"></script>
    <script src="~/assets/js/common/swiper-bundle.min.js"></script>
    <script src="~/assets/js/common/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/common/jquery.counterup.min.js"></script>
    <script src="~/assets/js/common/isotope.min.js"></script>
    <script src="~/assets/js/common/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/common/SmoothScroll.js"></script>
    <script src="~/assets/js/common/parallaxie.js"></script>
    <script src="~/assets/js/common/gsap.min.js"></script>
    <script src="~/assets/js/common/magiccursor.js"></script>
    <script src="~/assets/js/common/SplitText.js"></script>
    <script src="~/assets/js/common/ScrollTrigger.min.js"></script>
    <script src="~/assets/js/common/jquery.mb.YTPlayer.min.js"></script>
    <script src="~/assets/js/common/wow.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    @RenderSection("scripts", required: false)

    <script>
       
        console.log = function() {};
        console.warn = function() {};
        console.error = function() {};
        console.info = function() {};
        console.debug = function() {};
    </script>
</body>
</html>



