@{
    ViewData["Title"] = "Home Page";
}

@section css {
    <link rel="stylesheet" href="~/assets/css/home/home.css">
}
<!--  Mainn Start -->
<main>

    <!-- Hero Section Start -->
    @await Component.InvokeAsync("Slider")
    <!-- Hero Section End -->
    <!-- Scrolling Ticker Section Start -->
    @await Component.InvokeAsync("Scrolling")
    <!-- Scrolling Ticker Section End -->
    <!-- About us Section Start -->
    @await Component.InvokeAsync("About")
    <!-- About us Section End -->
    <!-- Why Choose Us Section Start -->
    @await Component.InvokeAsync("Why")
    <!-- Why Choose Us Section End -->
    <!-- Intro Video Section Start -->
    @await Component.InvokeAsync("Intro")
    <!-- Intro Video Section End -->
    <!-- Our Pricing Section Start -->
    @await Component.InvokeAsync("Pricing")
    <!-- Our Pricing Section End -->
    <!-- Interactive Process Layout Start -->
    @await Component.InvokeAsync("Interactive")
    <!-- Interactive Process Layout End -->
    <!-- Our Offers Section Start -->
    @await Component.InvokeAsync("Offer")
    <!-- Our Offers Section End -->
    <!-- About Restaurant Section Start -->
    @await Component.InvokeAsync("Restaurant")
    <!-- About Restaurant Section Endd -->
</main>
<!--  Mainn End -->
@section scripts {
    <script src="~/assets/js/home/home.js"></script>

}