<section id="our-approach">
    <div class="our-approach">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="our-approach-content">
                        <div class="section-title">
                            <h3 class="wow fadeInUp">our approach</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">
                                Crafting the perfect coffee
                                experience
                            </h2>
                        </div>
                        <div class="mission-vision-list">
                            <div class="mission-vision-item wow fadeInUp" data-wow-delay="0.2s">
                                <div class="icon-box">
                                    <img src="~/assets/images/common/qr.svg" alt="">
                                </div>
                                <div class="mission-vision-content">
                                    <h3>our mission</h3>
                                    <p>
                                        Our mission is to deliver exceptional coffee crafted with the finest beans
                                        care, providing a rich experience that celebrates quality.
                                    </p>
                                </div>
                            </div>

                            <div class="mission-vision-item wow fadeInUp" data-wow-delay="0.4s">
                                <div class="icon-box">
                                    <img src="~/assets/images/common/qqqq.svg" alt="">
                                </div>
                                <div class="mission-vision-content">
                                    <h3>our vision</h3>
                                    <p>
                                        Our vision is to inspire a love for coffee by crafting rich, high-quality
                                        experiences that bring people together.
                                    </p>
                                </div>
                            </div>

                            <div class="mission-vision-item wow fadeInUp" data-wow-delay="0.6s">
                                <div class="icon-box">
                                    <img src="~/assets/images/common/sasa.svg" alt="">
                                </div>
                                <div class="mission-vision-content">
                                    <h3>our value</h3>
                                    <p>
                                        Our values are inspired by the rich coffee traditions of Italy, using its
                                        most renowned beans to craft every cup with quality, and ethical care.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div style="opacity: 0.5 !important;" class="our-approach-image">
                        <figure class="image-anime">
                            <img src="~/assets/images/common/salamqwertyuiop.jpg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>