<section id="about-section">
    <div class="about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-us-content">
                        <div class="section-title">
                            <h3 class="wow fadeInUp">About us</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">
                                Bringing people together, one
                                cup at a time
                            </h2>
                        </div>

                        <div class="about-body-list">
                            <div class="about-body-item wow fadeInUp" data-wow-delay="0.2s">
                                <div class="icon-box">
                                    <img src="~/assets/images/home/icon-about-body-item-1.svg" alt="">
                                </div>
                                <div class="about-body-list-content">
                                    <h3>Cozy Atmosphere</h3>
                                    <p>
                                        Step into a warm and inviting space where you can enjoy your favorite
                                        coffee and delicious treats in comfort. Caffe Lunadi is your go-to spot
                                        to unwind, meet friends, or get inspired
                                    </p>
                                </div>
                            </div>

                            <div class="about-body-item wow fadeInUp" data-wow-delay="0.4s">
                                <div class="icon-box">
                                    <img src="~/assets/images/home/icon-about-body-item-2.svg" alt="">
                                </div>
                                <div class="about-body-list-content">
                                    <h3>Event Elegance</h3>
                                    <p>
                                        Celebrate your special moments with us!
                                        From cozy gatherings to vibrant celebrations, we provide the perfect
                                        setting and flavors to make your event unforgettable
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="about-us-footer wow fadeInUp" data-wow-delay="0.6s">
                            <div class="about-btn">
                                <a style="box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.8);" asp-controller="About" asp-action="Index"
                                   class="btn-default">More about us</a>
                            </div>

                            <div class="video-play-button">
                                <a href="assets/videos/WhatsApp Video 2025-05-20 at 06.56.31.mp4"
                                   class="popup-video">
                                    <i class="fa-solid fa-play"></i>
                                </a>

                            </div>
                            <p>
                                Want to see what makes us special?
                                Watch our video and experience the spirit of Caffe Luna.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="about-us-image">
                        <div style="opacity: 0.5 !important;" class="about-us-img">
                            <figure class="image-anime">
                                <img src="~/assets/images/home/customer2.jpg" alt="">
                            </figure>
                        </div>

                        <div class="opening-time-box">
                            <div class="icon-box">
                                <i class="fa-regular fa-clock"></i>
                            </div>

                            <div class="opening-time-content">
                                <h3>Open hours</h3>
                                <ul>
                                    <li>Monday - Friday<span>09:00 - 10:00</span></li>
                                    <li>The Weekend<span>09:00 - 11:30</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>