@model IEnumerable<Scrolling>

<section id="scrolling">
    <div class="our-scrolling-ticker">
        <div class="scrolling-ticker-box">
            <div class="scrolling-content">
                @foreach (var item in Model)
                {
                    <span>
                        <img src="~/uploads/scrollings/@item.Img" alt="">
                        @item.Name
                    </span>
                }
            </div>

            <div class="scrolling-content">
                @foreach (var item in Model)
                {
                    <span>
                        <img src="~/uploads/scrollings/@item.Img" alt="">
                        @item.Name
                    </span>
                }
            </div>
        </div>
    </div>
</section>
