@{
    ViewData["Title"] = "Menu Page";
}

@section css {
    <link rel="stylesheet" href="~/assets/css/menu/menu.css">
}

<main>
    <!-- Page Header Start -->
    @await Component.InvokeAsync("MenuBanner")
    <!-- Page Header End -->
    <!-- Scrolling Ticker Section Start -->
    @await Component.InvokeAsync("Scrolling")
    <!-- Scrolling Ticker Section End -->
    <!-- page Menu Section Start -->
    @await Component.InvokeAsync("Menu")
    <!-- page Menu Section End -->
</main>


@section scripts {
    <script src="~/assets/js/menu/menu.js"></script>
}