@{
    ViewData["Title"] = "BlogDetail Page";
}



@section css {
    <link rel="stylesheet" href="~/assets/css/blogdetail/blogdetail.css">
}


<main>
    <!-- Page Header Start -->
    @await Component.InvokeAsync("BlogDetailBanner")
    <!-- Page Header End -->
    <!-- Scrolling Ticker Section Start -->
    @await Component.InvokeAsync("Scrolling")
    <!-- Scrolling Ticker Section End -->
    <!-- detail Section Start -->
    @await Component.InvokeAsync("BlogDetail")
    <!-- detail Section End -->
</main>


@section scripts {
    <script src="~/assets/js/blogdetail/blogdetail.js"></script>
}