@model HeaderVM
<header>
    <!-- Preloader Start -->
    <section id="preloader-section">
        <div class="preloader">
            <div class="loading-container">
                <div class="loading"></div>
                <div id="loading-icon"><img src="~/assets/images/common/loader (1).svg" alt="" /></div>
            </div>
        </div>
    </section>
    <!-- Preloader End -->
    <!-- Topbar Section Start -->
 
    <section id="topbar-section">
        <div class="topbar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-9">
                        <div class="topbar-contact-info">
                            <ul>
                                @foreach (var item in Model.Topbars)
                                {
                                    <li>
                                        <a href="mailto:@item.Email">
                                            <img src="~/assets/images/common/icon-mail.svg" alt="" />
                                            @item.Email
                                        </a>
                                    </li>
                                    <li>
                                        <img src="~/assets/images/common/icon-location.svg" alt="" />
                                        @item.Address
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="topbar-social-links">
                            <ul>
                                <li>
                                    <a href="https://www.instagram.com/_caffe.luna_?igsh=MThmeGtkajQ1cTJ4eQ==">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li><a href="https://www.facebook.com/share/16auhXoD7x/?mibextid=wwXIfr"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li>
                                    <a href="https://wa.me/994513153684?text=Hello!%20Welcome%20to%20our%20Coffee%20Shop%20%E2%98%95%20How%20can%20we%20help%20you%3F" target="_blank">
                                        <i class="fa-brands fa-whatsapp"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Topbar Section End -->
    <!-- Header Start -->
    <section id="header-section">
        <div class="header-sticky">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="@Model.HeaderLogo" alt="Logo" style="width: 230px; height: auto;" />
                    </a>
                    <div style="margin-right: 11pc;" class="collapse navbar-collapse main-menu">
                        <div class="nav-menu-wrapper">
                            <ul class="navbar-nav mr-auto" id="menu">
                                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="About" asp-action="Index">About</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Blog" asp-action="Index">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Menu" asp-action="Index">Menu</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Team" asp-action="Index">Team</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="FAQs" asp-action="Index">FAQs</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Contact" asp-action="Index">Contact</a></li>
                                <li class="nav-item highlighted-menu"><a class="nav-link" asp-controller="Reservation" asp-action="Index">Book A Table</a></li>
                            </ul>
                        </div>

                        <div class="header-button-box">
                            <div class="header-btn">
                                <a asp-controller="Reservation" asp-action="Index" class="btn-default btn-highlighted">Book a table</a>
                            </div>

                            <div class="user-account-dropdown">
                                <a href="#" class="user-icon-btn" id="userAccountBtn">
                                    <i class="fas fa-user"></i>
                                </a>

                                <div class="dropdown-menu" id="userDropdown" style="margin-right: -5pc;">

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <span class="dropdown-item" style="color: white; font-weight: 500;">Hello, @User.Identity.Name!</span>


                                        <a asp-controller="Account" asp-action="Logout" class="dropdown-item">
                                            <i class="fas fa-sign-out-alt"></i> Logout
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Account" asp-action="Login" class="dropdown-item">
                                            <i class="fas fa-sign-in-alt"></i> Login
                                        </a>

                                        <a asp-controller="Account" asp-action="Register" class="dropdown-item">
                                            <i class="fas fa-user-plus"></i> Register
                                        </a>
                                    }

                                </div>
                            </div>


                            @{
                                var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
                                var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
                            }

                            @if ((currentController == "Home" && currentAction == "Index") ||
                            (currentController == "Menu" && currentAction == "Index"))
                            {
                                @await Html.PartialAsync("_SearchPartial")
                            }
                        </div>
                    </div>


                    <div class="responsive-menu">
                        <div class="slicknav-menu" onclick="toggleMobileMenu()">
                            <i class="fa-solid fa-bars"></i>
                            <ul id="mobileMenu">
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a asp-controller="About" asp-action="Index">About</a></li>
                                <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                                <li><a asp-controller="Menu" asp-action="Index">Menu</a></li>
                                <li><a asp-controller="Team" asp-action="Index">Team</a></li>
                                <li><a asp-controller="FAQs" asp-action="Index">FAQs</a></li>
                                <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                                <li><a asp-controller="Reservation" asp-action="Index">Book A Table</a></li>
                                <li class="user-menu-item"><a asp-controller="Account" asp-action="Login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                                <li class="user-menu-item"><a asp-controller="Account" asp-action="Register"><i class="fas fa-user-plus"></i> Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <!-- Header End -->
</header>