<section id="team-section">
    <div class="page-team">
        <div class="container">
            <h2 class="section-title" style="margin-top: 4pc;">Core Team</h2>
            <div class="row" style="margin-top: 6pc;">
                <div class="col-lg-4 col-md-6">
                    <div class="team-item wow fadeInUp">
                        <div class="team-image"
                             style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset !important;">
                            <figure class="image-anime">
                                <img src="~/assets/images/common/AYDAN.jpg" alt="">
                            </figure>
                        </div>
                        <div class="team-body" style="transition: all 0.5s ease;">
                            <div class="team-social-icon">
                                <p style=" color: white;">
                                    I'm from Azerbaijan. My lifelong dream was to move to Italy and build a life here. Now I’m living it — with my own coffee shop, Caffè Luna. With a passionate, professional team, we're here to serve you unforgettable moments.
                                    My advice: Follow your dreams.
                                    With love,– The Founder
                                </p>
                            </div>
                            <div class="team-content">
                                <h3>aydan bayramova</h3>
                                <p style="color: #C9A581;">Founder</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-image">
                            <figure class="image-anime">
                                <img src="~/assets/images/common/manager2.jpg" alt="">
                            </figure>
                        </div>
                        <div class="team-body" style="transition: all 0.5s ease;">
                            <div class="team-social-icon">
                                <p style=" color: white;">
                                    As the Manager, she plays an essential role in overseeing the daily
                                    operations of our coffee shop with professionalism, efficiency, and
                                    care. Her ability to balance staff coordination, customer satisfaction,
                                    and business performance ensures that every guest experiences
                                    exceptional service.
                                </p>
                            </div>
                            <div class="team-content">
                                <h3>Sophia Carter</h3>
                                <p style="color: #C9A581;">manager</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="team-image">
                            <figure class="image-anime">
                                <img src="~/assets/images/common/adam4.jpg" alt="">
                            </figure>
                        </div>
                        <div class="team-body" style="transition: all 0.5s ease;">
                            <div class="team-social-icon">
                                <p style=" color: white;">
                                    As the Sous Chef, she plays a vital role in maintaining the smooth
                                    operation and high standards of our kitchen. Her deep culinary
                                    knowledge, precision, and leadership skills ensure that every dish is
                                    executed flawlessly. She supports the Head Chef in planning menus,
                                    supervising kitchen staff
                                </p>
                            </div>
                            <div class="team-content">
                                <h3>jonny green</h3>
                                <p style="color: #C9A581;">Sous chef</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="team-item wow fadeInUp" data-wow-delay="0.6s">
                        <div class="team-image">
                            <figure class="image-anime">
                                <img src="~/assets/images/common/adam.jpg" alt="">
                            </figure>
                        </div>
                        <div class="team-body" style="transition: all 0.5s ease;">
                            <div class="team-social-icon">
                                <p style=" color: white;">
                                    Master of sweet creations and delicate
                                    flavors.Passionate about creating rich
                                    and
                                    flavorful espresso.Skilled in latte art and coffee presentation.Dedicated to
                                    delivering exceptional coffee experiences.A true coffee enthusiast with a
                                    keen
                                    attention to detail.
                                </p>
                            </div>
                            <div class="team-content">
                                <h3>thomas campbell</h3>
                                <p style="color: #C9A581;">dessert maste</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="team-item wow fadeInUp" data-wow-delay="0.8s">
                        <div class="team-image">

                            <figure class="image-anime">
                                <img src="~/assets/images/common/adam2.jpg" alt="">
                            </figure>

                        </div>
                        <div class="team-body" style="transition: all 0.5s ease;">
                            <div class="team-social-icon">
                                <p style=" color: white;">
                                    Expert in brewing the perfect cup of coffee.
                                    Passionate about creating rich
                                    and
                                    flavorful espresso.Skilled in latte art and coffee presentation.Dedicated to
                                    delivering exceptional coffee experiences.A true coffee enthusiast with a
                                    keen
                                    attention to detail.
                                </p>
                            </div>
                            <div class="team-content">
                                <h3>liam carter</h3>
                                <p style="color: #C9A581;">Drink Master </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="team-item wow fadeInUp" data-wow-delay="1s">
                        <div class="team-image">
                            <figure class="image-anime">
                                <img src="~/assets/images/common/adam3.jpg" alt="">
                            </figure>
                        </div>
                        <div class="team-body" style="transition: all 0.5s ease;">
                            <div class="team-social-icon">
                                <p style=" color: white;">
                                    Master of flavors and culinary
                                    artistry.Creatingunforgettable dishes with
                                    passion
                                    and precision.Bringing the heart of the kitchen to every plate.A true
                                    culinary
                                    artist dedicated to perfection.
                                </p>
                            </div>
                            <div class="team-content">
                                <h3>sophia green</h3>
                                <p style="color: #C9A581;">Executive Chef</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>