@* @using FinalProjectMvc.Models
@model List<Message>

<h2>Gələn Mesajlar</h2>
@foreach (var msg in Model)
{
    <div>
        <strong>Kimdən:</strong> @msg.Sender.FullName <br />
        <strong>Tarix:</strong> @msg.CreateDate.ToString("g") <br />
        <p>@msg.Content</p>
        <hr />
    </div>
}
 *@