@model MenuBannerVM
@{
    var img = Model?.Img ?? "default.jpg";
    var title = Model?.Title ?? "Menu";
}

<section id="blog-banner">
    <div class="page-header parallaxie" style="background-image: url('/uploads/menubanner/@img');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-header-box">
                        <h1 class="text-anime-style-3" data-cursor="-opaque">@title</h1>
                        <nav class="wow fadeInUp">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">our menu</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

