<footer>
    <section id="footer-section">
        <div class="footer" style=" background: url(./assets/images/common/footer-bg-image.jpg) no-repeat; ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div style=" font-family: 'Ancizar Serif', serif;padding-top:6pc;" class="footer-contact-list">
                            <div class="footer-contact-item">
                                <div class="icon-box">
                                    <img src="~/assets/images/common/phone.svg" alt="">
                                </div>
                                <div class="footer-contact-detail">
                                    <h3>contact us</h3>
                                    <p>T. <a href="https://wa.me/994513153684" target="_blank">+994 51 315 36 84</a></p>
                                    <p>M. <a href="mailto:caffeluna67@gmail.com">caffeluna67@gmail.com</a></p>
                                </div>
                                <div class="footer-contact-button">
                                    <a href="contact.html" class="btn-default btn-highlighted">contact us</a>
                                </div>
                            </div>

                            <div class="footer-contact-item">
                                <div class="icon-box">
                                    <img src="~/assets/images/common/address.svg" alt="">
                                </div>
                                <div class="footer-contact-detail">
                                    <h3>address</h3>
                                    <p>Marchesi 1824 Via Montenapoleone 9, 20121 Milano Lombardia, Italy</p>
                                </div>
                                <div class="footer-contact-button">
                                    <a href="contact.html" class="btn-default btn-highlighted">get direction</a>
                                </div>
                            </div>

                            <div class="footer-contact-item">
                                <div class="icon-box">
                                    <img src="~/assets/images/common/clock.svg" alt="">
                                </div>
                                <div class="footer-contact-detail">
                                    <h3>opening hours</h3>
                                    <p>Everyday: From 09.30 To 21.00</p>
                                    <p>Kitchen Closes At 20.00</p>
                                </div>
                                <div class="footer-contact-button">
                                    <a href="reservation.html" class="btn-default btn-highlighted">
                                        reserve a
                                        table
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="footer-copyright">
                            <div class="footer-copyright-text order-md-1 order-3">
                                <p>Copyright © 2025 Caffe Luna by Aydan.</p>
                            </div>

                            <div class="footer-logo order-md-2 order-1">
                                <img src="~/assets/images/common/footer.looggoooo.jpg" alt="">
                            </div>

                            <div class="footer-social-links order-md-3 order-2">
                                <ul>
                                    <li>
                                        <a href="https://www.instagram.com/_caffe.luna_?igsh=MThmeGtkajQ1cTJ4eQ==">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/share/16auhXoD7x/?mibextid=wwXIfr">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://wa.me/994513153684?text=Hello!%20Welcome%20to%20our%20Coffee%20Shop%20%E2%98%95%20How%20can%20we%20help%20you%3F"
                                           target="_blank">
                                            <i class="fa-brands fa-whatsapp"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>