@{
    ViewData["Title"] = "Team Page";
}

@section css {
    <link rel="stylesheet" href="~/assets/css/team/team.css">
}

<!--Main Start-->
<main>
    <!-- Page Header Start -->
    @await Component.InvokeAsync("TeamBanner")
    <!-- Page Header End -->
    <!-- Scrolling Ticker Section Start -->
    @await Component.InvokeAsync("Scrolling")
    <!-- Scrolling Ticker Section End -->
    <!-- Page Team Start -->
    @await Component.InvokeAsync("TeamSection")
    <!-- Page Team End -->

</main>
<!--Main End-->

@section scripts {
    <script src="~/assets/js/team/team.js"></script>
}